*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Helvetica;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90%;
  width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calc {
  display: grid;
}

/* Title */
h1 {
  margin-bottom: 25px;
}

/* Buttons */
button  {
  font-size: 1.5rem;
  padding: 16px 20px;
  border: none;
  border-radius: 50%;
  color: white;
}

/* Numbers */
.numbers > button {
  background: #505050;
}

/* Operators */
.operators > button { 
  background: #FF9500;
}

